<h5>Lista de Ordenes de Compra</h5>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Fecha de Registro Egreso</th>
      <th>Cliente</th>
      <th>Fecha O.E.</th>
      <th>Valor Total</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let ordenegreso of listaOrdenegresos
    | paginate
    : {
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      };
    let i = index">

      <td>{{ordenegreso.id}}</td>
      <td>{{ordenegreso.fechaRegistroOrdenEgreso}}</td>
      <td>{{ordenegreso.cliente}}</td>
      <td>{{ordenegreso.fechaEgreso}}</td>
      <td>{{ordenegreso.valorTotal}}</td>
      <td>
        <button (click)="verDetallesOrdenegreso(ordenegreso.id)" class="btn btn-primary" style="margin-left : 10px;">Detalles</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
</div>
