
<div class="container main-section border p-5 bg-white">
  <div class="row">
    <div class="col-lg-12 header m-0 pb-4 text-center">
      <h4>Estadísticas</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 box-sectiopn pb-4">
      <div class="row m-0">
        <div class="col-lg-3 text-center bg-success block text-white">
          <h2>{{datosParsedJson.productos}}</h2>
        </div>
        <div class="col-lg-9 card-body border-right border border-success">
          <h5 class="card-title text-secondary">Productos</h5>
          <p class="card-text">Registrados en el sistema.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 box-sectiopn pb-4">
      <div class="row m-0">
        <div class="col-lg-3 text-center bg-success block text-white">
          <h2>{{datosParsedJson.proveedores}}</h2>
        </div>
        <div class="col-lg-9 card-body border-right border border-success">
          <h5 class="card-title text-secondary">Proveedores</h5>
          <p class="card-text">Registrados en el sistema.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 box-sectiopn pb-4">
      <div class="row m-0">
        <div class="col-lg-3 text-center bg-danger block text-white">
          <h2>{{datosParsedJson.clientes}}</h2>
        </div>
        <div class="col-lg-9 card-body border-right border border-danger">
          <h5 class="card-title text-secondary">Clientes</h5>
          <p class="card-text">Registrados en el sistema.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 box-sectiopn pb-4">
      <div class="row m-0">
        <div class="col-lg-3 text-center bg-danger block text-white">
          <h2>{{datosParsedJson.proveedores}}</h2>
        </div>
        <div class="col-lg-9 card-body border-right border border-danger">
          <h5 class="card-title text-secondary">Proveedores</h5>
          <p class="card-text">Registrados en el sistema.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 box-sectiopn pb-4">
      <div class="row m-0">
        <div class="col-lg-3 text-center bg-info block text-white">
          <h2>{{datosParsedJson.ordenescompra}}</h2>
        </div>
        <div class="col-lg-9 card-body border-right border border-info">
          <h5 class="card-title text-secondary">Ordenes de Compra</h5>
          <p class="card-text">Registradas en el sistema.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 box-sectiopn pb-4">
      <div class="row m-0">
        <div class="col-lg-3 text-center bg-warning block text-white">
          <h2>{{datosParsedJson.ordenesegreso}}</h2>
        </div>
        <div class="col-lg-9 card-body border-right border border-warning">
          <h5 class="card-title text-secondary">Ordenes de Egreso</h5>
          <p class="card-text">Registradas en el sistema.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 p-0 copany-title">
    <p class="text-secondary">Desarrollado por : Freddy Chamorro</p>
    <p class="text-secondary">Desarrollo de Software en Ambientes Cloud</p>
    <p class="text-secondary">2022</p>
  </div>
</div>
