<h5>Lista de Proveedores</h5>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>RUC</th>
      <th>Razon Social</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Email</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let proveedor of listaProveedores">

      <td>{{proveedor.id}}</td>
      <td>{{proveedor.ruc}}</td>
      <td>{{proveedor.razonSocial}}</td>
      <td>{{proveedor.telefono}}</td>
      <td>{{proveedor.direccion}}</td>
      <td>{{proveedor.email}}</td>

      <td>
        <button (click)="actualizarProveedorId(proveedor.id)" class="btn btn-info">Editar</button>
        <button (click)="eliminarProveedorId(proveedor.id)" class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
        <button (click)="verDetallesProveedor(proveedor.id)" class="btn btn-primary" style="margin-left : 10px;">Detalles</button>
      </td>

    </tr>
  </tbody>
</table>
