<h5>Lista de Productos</h5>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Fecha de Caducidad</th>
      <th>Nro. Lote</th>
      <th>Precio U.</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loteproducto of listaloteProductos
    | paginate
    : {
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      };
    let i = index">

      <td>{{i+1}}</td>
      <td>{{loteproducto.producto}}</td>
      <td>{{loteproducto.cantidad}}</td>
      <td>{{loteproducto.fechaCaducidad}}</td>
      <td>{{loteproducto.numeroLote}}</td>
      <td>{{loteproducto.precioUnitario}}</td>

      <td>
        <button (click)="verDetallesLoteProducto(loteproducto.id)" class="btn btn-primary"
          style="margin-left : 10px;">Detalles</button>
      </td>

    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
</div>
