<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="home">Inicio</a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Productos
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a routerLink="productos" routerLinkActive="active" class="nav-link">Lista de Productos</a></li>
        <li><a routerLink="crear-producto" routerLinkActive="active" class="nav-link">Registrar Producto</a></li>
        <li><a routerLink="tipoproducto" routerLinkActive="active" class="nav-link">Lista de Tipos de Productos</a></li>
        <li><a routerLink="crear-tipoproducto" routerLinkActive="active" class="nav-link">Registrar Tipos de Producto</a></li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Ordenes de Compra
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a routerLink="ordenescompra" routerLinkActive="active" class="nav-link">Lista de Ordenes Compra</a></li>
        <li><a routerLink="crear-ordencompra" routerLinkActive="active" class="nav-link">Registrar Orden Compra</a></li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Ordenes de Egreso
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a routerLink="ordenesegreso" routerLinkActive="active" class="nav-link">Lista de Ordenes de Egresos</a></li>
        <li><a routerLink="crear-ordenegreso" routerLinkActive="active" class="nav-link">Registar Orden de Egreso</a></li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Proveedores
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a routerLink="proveedores" routerLinkActive="active" class="nav-link">Lista de Proveedores</a></li>
        <li><a routerLink="crear-proveedor" routerLinkActive="active" class="nav-link">Registar Proveedor</a></li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Clientes
      </a>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a routerLink="clientes" routerLinkActive="active" class="nav-link">Lista de Clientes</a></li>
        <li><a routerLink="crear-cliente" routerLinkActive="active" class="nav-link">Registar Cliente</a></li>
      </ul>
    </li>


    <li class="nav-item">
      <a routerLink="lotesproductos" routerLinkActive="active" class="nav-link">Lotes de Productos</a>
    </li>

  </ul>

  <ul class="navbar-nav justify-content-rigth">
    <li>
      <a routerLink="" routerLinkActive="active" class="nav-link">{{usuario}}</a>
    </li>

    <li class="nav-item">
      <a routerLink="login" routerLinkActive="active" class="nav-link">Iniciar Sesión</a>
    </li>

  <li class="nav-item">
    <a href="#" (click)="logout()" routerLinkActive="active" class="nav-link">Cerrar</a>
  </li>



</ul>
</div>
</nav>

<h1 class="text-center">{{title}}</h1>

<div class="container">
  <router-outlet>

  </router-outlet>
</div>
